{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la billeterie en ligne du Louvre{% endblock %}

{% block body %}




    <div class="row homeL">
        <div class="col">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Novitates autem si spem adferunt, ut tamquam in herbis non fallacibus fructus appareat, non sunt illae quidem repudiandae, vetustas tamen suo loco conservanda; maxima est enim vis vetustatis et consuetudinis. Quin in ipso equo, cuius modo feci mentionem, si nulla res impediat, nemo est, quin eo, quo consuevit, libentius utatur quam intractato et novo. Nec vero in hoc quod est animal, sed in iis etiam quae sunt inanima, consuetudo valet, cum locis ipsis delectemur, montuosis etiam et silvestribus, in quibus diutius commorati sumus..</p>
                    <a href="/ticket&amp;error=0&amp;type=0" class="btn btn-primary">Achetez vos tickets maintenant</a>
                </div>
            </div>

        </div>
        <div class="col">
        </div>
    </div>



    <div class="row homeL">
        <div class="col">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Info horaire et tarif</h3>
                    <h4>Horaire : </h4>
                    <p>Ouvert tout les jours de 9h à 18h</p>
                    <p>Fermé le Mardi, ainsi que les 1er Mai, 1er Novembre et 25 Décembre</p>
                    <h4>Tarif : </h4>
                    <ul>
                        <li>Normal (à partir de 12 ans) : 16 Euros</li>
                        <li>Enfant* (de 4 à 12 ans) : 8 Euros</li>
                        <li>Senior (à partir de 60 ans) : 12 Euros</li>
                        <li>Réduit (sous certaines conditions**) : 10 Euros</li>
                    </ul>
                    <p>* Entrée gratuite pour les enfants de moins de 4 ans</p>
                    <p>** Tarif accordé au étudiant, employé du musée, d'un service du Ministère de la culture, militaire (Il sera necessaire de présenter votre carte lors de l'entrée)</p>
                </div>
            </div>

        </div>
        <div class="col">
        </div>
    </div>

    <div class="row homeL">
        <div class="col">
        </div>
        <div class="col-6">
        </div>
        <div class="col">
        </div>
    </div>

{% endblock %}
